<mat-card>
    <mat-card-title>Đăng nhập</mat-card-title>
    <form (submit)="login({ email: email.value, password: password.value })">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput #email required />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Mật khẩu</mat-label>
        <input matInput type="password" #password required />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Đăng nhập</button>
      <p *ngIf="errorMessage()">{{ errorMessage() }}</p>
    </form>
  </mat-card>
  